.checkout__header {
    padding: 5px 25px;
    font-size: 14px;
    box-sizing: border-box;
    text-align: left;
    background-color: rgb(247, 246, 246);
}


.checkout__back {
    background-color: rgb(233, 231, 231);
}

.checkout__container {
    width: 100%;
}

.checkout__subtotal {
    height: auto;
    padding: 5px 27px;
    text-align: right;
    margin: auto;
    background-color: white;
    box-shadow: 1px 0 10px silver;
}


.product__info {
    flex: 1;
    margin-left: -150px
}

.checkout__row {
    display: flex;
    flex-flow: wrap;
   /*  flex-direction: column-reverse; */
    width: 1400px;
    padding: 5px 0;
    margin: 2px 0;
}

@media(max-width: 500px) {
    .checkout__row {
        width: 100%;
        flex-flow: column;
    }
}

.checkout__ul, .checkout__amount-quantity {
    display: flex;
}

@media(max-width: 500px) {
    .checkout__amount-quantity {
        flex-direction: column;
    }
}

.checkout__items-details {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: rgb(247, 246, 246);
    width: 60%;
}

.checkout__quantity {
    width: 100px;
    background-color: white;
}

.checkout__quantity > span > strong {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    height: auto;
}

.checkout__amount,
.checkout__action
{
    width: 190px;
    background-color: white;
}

.checkout__image > img {
    width: 35%;
    height: auto;
    object-fit: contain;
    margin-left: 5px;
}

.checkout__image  {
    margin-right: -145px
}

.action-btn {
    cursor: pointer;
    color: rgb(202, 9, 42);
}

.checkout__button-plus,
.checkout__button-minus {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 2px 12px;
}

.checkout__btn-shadow {
    border: solid silver 1px;
    padding-bottom: 1px;
    box-shadow: 1px 2px 5px silver;
    border-radius: 2px;
}

span > p > strong {
    color:dimgray;
    font-size: small;
}

.btn-qty {
    padding: 3px 6px;
    border: solid 1px silver;
    font-size: small;
}