.App {
  text-align: center;
}



ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin: 0 30px;
}


.navbar__navigation li {
  display: inline-block;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}


.products__divider {
  border-top: solid 1px silver;
  margin: 7px 0;
}